/** start pulse button **/
.pulse {
    position: fixed;
    right: 25px;
    bottom: 150px;
    /*transform: translate(-50%, -50%);*/
    background: #eff309;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: #424242;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
}

.pulse:before,
.pulse:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #eff309;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.pulse:after{
    animation-delay: .5s;
}

@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
/** end pulse button **/
#contact_button {
    position: fixed;
    left: -65px;
    top: 200px;
    background: #eff309;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transform: rotate(-90deg);
    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);
}

.img-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.4);
}
.img-container img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.img-container img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-backface-visibility: hidden;
}

.btn-social .fa-whatsapp {
    font-size: 60px;
    color:#fff;
    background:
            linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat,
            radial-gradient(#25d366 60%,transparent 0);
}

.btn-social .fa-telegram-plane {
    font-size: 40px;
    color: white;
}